{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{%  static "css/blog.css" %}">
</head>
<body>

<!-- 	<nav>
		<ul>
			<li><a href=""> Home</a></li>
			<li><a href=""></a>Space Center</li>
			<li><a href=""></a>Fire</li>
		</ul>
	</nav>
 -->
 <div id="sidebar">
<H2>Zulunauts</H2>
<p>Count your blessings, light a cigarette and blow towards heaven. Thank your luck and content yourself to always being second!</p>
</div>
<!-- always start with the side bar before the main content so its easier to style -->

<div id="content">
{% block content %}
{% endblock %}
</div>

<footer>
	<p>Copyright&copy Zulunaut project</p>

</footer>

<script type="text/javascript" href="{% static "js/blog.js" %}"></script>
</body>
</html>
