{% extends "blog/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<H1>{{ post.title }}</H1>
<p class="date">
Published {{ post.publish }} by {{ post.author }}
</p>	
{{ post.body|linebreaks }}
<p>
	<!-- here we build the URL dynamically -->
	<a href="{% url "blog:post_share" post.id %}">Share this post</a>
</p>
{% endblock %}



