{% extends "blog/base.html" %}

{% block title %}Zulunauts{% endblock %}

{% block content %}
	<H1>{{ post.title }}</H1>
	{% for post in posts %}
	<h2 class="big_head">
	 <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
	</h2>
	<p class="date">
		Published {{ post.publish }} by {{ post.author }}
	</p>	
	{{ post.body|truncatewords:30|linebreaks }}
{% endfor %}
{% include "pagination.html" with page=page_obj %}
{% endblock %}
