{% extends "blog/base.html" %}

{% block title %}Share Post{% endblock %}

{% block content %}
	{% if sent %}
	<h1>Email sucessfully sent</h1>
	<p>
		"{{ post.title }}" was succesfully sent to {{ cd.to }}
	</p>
	{% else %}
	<h1>Share "{{ post.title }}" by email</h1>
	<form action="." method="post">
		{{  form.as_p }}
		{% csrf_token %}
		<input type="submit" value="Send email">
	</form>
{% endif %}
{% endblock %}