html, body{

  height: 100%,

}

body{
  font: 15px 'Lato', 'Helvetica', sans serif;
  color: #0f594d;
  background-color: #fff;
}

header{

  height: 100%;
  background-color: #34495e;
  z-index: 999;
  position: relative;
}

header h1{

  font: 45px 'Lato', 'Helvetica', sans serif;
  font-weight: 300;
  border: 1px solid #fff;
  color: #fff;
  padding: 20px 25px;
  text-align: center;
  position: absolute;
  bottom: auto;
  right:auto;
  left: auto;
  top: 42%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#sidebar{
  float: right;
  width:25%;
  margin: 1% 0%;
  background-color: #f5f5f5;
  border-radius: 5%;
  padding: 2% 3%;

}
img.hide{
  display: none;
}

#nav{

  list-style: none;
  position: fixed;
  right: 20px;
  z-index: 999999;
  top: 260px;
}

#nav li{
  margin: 0 0 15px 0;

}
.background-fixed{

  background-size: cover;
  position: relative;
  padding: 45px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-fixed.img-1{background-color: #2dcc70;}
.background-fixed.img-2{background-color: #e84c3d;}
.background-fixed.img-3{background-color: #d25400;}
.background-fixed.img-4{background-color: #9b58b5;}
.background-fixed.img-5{background-color: #172029;}

footer{

  background-color: #172029;
  padding: 15px;
}

footer p{
  text-align: center;
  color: #fff;
  font-weight:300;
}

/*sidebar*/

